::root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
}

*{
    box-sizing: inherit;
}

html{
    /* được hiểu là 10px */
    font-size: 62.5%; 
}

p{
    font-size: 1.6rem;
}

